# Project: Investigate a Dataset: US census data on guns

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables.
>
> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. If you're not sure what questions to ask right now, then make sure you familiarize yourself with the variables and the dataset context for ideas of what to explore.

In [55]:
#Imports 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### Opening Files

In [56]:
#opening csv files 
df_census = pd.read_csv('U.S. Census Data.csv')
xl_ncis = pd.read_excel('gun_data.xlsx')

In [57]:
#converting the excel file to csv
xl_ncis.to_csv('gun_data.csv', encoding = 'utf-8', index= False)

#creating a new dataframe for the gun data
df_ncis = pd.read_csv('gun_data.csv')

### Quick snapshots of the dataframes

In [58]:
#View the first 5 rows of the census file
df_census.head()

,Fact,Fact Note,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,"Population estimates, July 1, 2016, (V2016)",NaN,"4,863,300","741,894","6,931,071","2,988,248","39,250,017","5,540,545","3,576,452","952,065",...,865454,6651194,"27,862,596","3,051,217","624,594","8,411,808","7,288,000","1,831,102","5,778,708","585,501"
1,"Population estimates base, April 1, 2010, (V2...",NaN,"4,780,131","710,249","6,392,301","2,916,025","37,254,522","5,029,324","3,574,114","897,936",...,814195,6346298,"25,146,100","2,763,888","625,741","8,001,041","6,724,545","1,853,011","5,687,289","563,767"
2,"Population, percent change - April 1, 2010 (es...",NaN,1.70%,4.50%,8.40%,2.50%,5.40%,10.20%,0.10%,6.00%,...,0.063,0.048,10.80%,10.40%,-0.20%,5.10%,8.40%,-1.20%,1.60%,3.90%
3,"Population, Census, April 1, 2010",NaN,"4,779,736","710,231","6,392,017","2,915,918","37,253,956","5,029,196","3,574,097","897,934",...,814180,6346105,"25,145,561","2,763,885","625,741","8,001,024","6,724,540","1,852,994","5,686,986","563,626"
4,"Persons under 5 years, percent, July 1, 2016, ...",NaN,6.00%,7.30%,6.30%,6.40%,6.30%,6.10%,5.20%,5.80%,...,0.071,0.061,7.20%,8.30%,4.90%,6.10%,6.20%,5.50%,5.80%,6.50%

In [59]:
df_ncis.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2017-09,Alabama,16717.0,0.0,5734.0,6320.0,221.0,317,0.0,15.0,...,0.0,0.0,0.0,9.0,16.0,3.0,0.0,0.0,3.0,32019
1,2017-09,Alaska,209.0,2.0,2320.0,2930.0,219.0,160,0.0,5.0,...,0.0,0.0,0.0,17.0,24.0,1.0,0.0,0.0,0.0,6303
2,2017-09,Arizona,5069.0,382.0,11063.0,7946.0,920.0,631,0.0,13.0,...,0.0,0.0,0.0,38.0,12.0,2.0,0.0,0.0,0.0,28394
3,2017-09,Arkansas,2935.0,632.0,4347.0,6063.0,165.0,366,51.0,12.0,...,0.0,0.0,0.0,13.0,23.0,0.0,0.0,2.0,1.0,17747
4,2017-09,California,57839.0,0.0,37165.0,24581.0,2984.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123506

> We notice several issues with these dataframes, particularly the census data, which seems to have null values, ill-formatted strings and column names as well as numeric data with commas. Lets take a closer look. 

> Another important detail we see is that the census data and the gun data are linked by the different states. To make the exploratory data analysis process easier, we could try flipping the rows and columns of the census data and group by state.

### Cleaness Checks 
#### Census data

In [60]:
#check for missing values 
df_census.isnull().sum()

Fact               5
Fact Note         57
Alabama           20
Alaska            20
Arizona           20
Arkansas          20
California        20
Colorado          20
Connecticut       20
Delaware          20
Florida           20
Georgia           20
Hawaii            20
Idaho             20
Illinois          20
Indiana           20
Iowa              20
Kansas            20
Kentucky          20
Louisiana         20
Maine             20
Maryland          20
Massachusetts     20
Michigan          20
Minnesota         20
Mississippi       20
Missouri          20
Montana           20
Nebraska          20
Nevada            20
New Hampshire     20
New Jersey        20
New Mexico        20
New York          20
North Carolina    20
North Dakota      20
Ohio              20
Oklahoma          20
Oregon            20
Pennsylvania      20
Rhode Island      20
South Carolina    20
South Dakota      20
Tennessee         20
Texas             20
Utah              20
Vermont           20
Virginia          20
Washington        20
West Virginia     20
Wisconsin         20
Wyoming           20
dtype: int64

> We notice that there are a lot of missing values in this dataset. Firstly, the column 'Fact Note' has 57 missing values. Instead of dropping these rows, we can replace all the null values in this column by the string 'None'. All the other columns have 20 null values. This could mean that all the null values occur on the same 20 rows, and that these rows should be dropped from the table.

In [61]:
#Check for duplicate rows
sum(df_census.duplicated())

3

> There are 3 duplicate rows in this dataframe. We will drop these rows in the data cleaning part.

In [62]:
#Check the datatypes
df_census.dtypes

Fact              object
Fact Note         object
Alabama           object
Alaska            object
Arizona           object
Arkansas          object
California        object
Colorado          object
Connecticut       object
Delaware          object
Florida           object
Georgia           object
Hawaii            object
Idaho             object
Illinois          object
Indiana           object
Iowa              object
Kansas            object
Kentucky          object
Louisiana         object
Maine             object
Maryland          object
Massachusetts     object
Michigan          object
Minnesota         object
Mississippi       object
Missouri          object
Montana           object
Nebraska          object
Nevada            object
New Hampshire     object
New Jersey        object
New Mexico        object
New York          object
North Carolina    object
North Dakota      object
Ohio              object
Oklahoma          object
Oregon            object
Pennsylvania      object
Rhode Island      object
South Carolina    object
South Dakota      object
Tennessee         object
Texas             object
Utah              object
Vermont           object
Virginia          object
Washington        object
West Virginia     object
Wisconsin         object
Wyoming           object
dtype: object

#### NCIS gun data

In [63]:
df_ncis.shape

(12485, 27)

In [64]:
df_ncis.isnull().sum()

month                            0
state                            0
permit                          24
permit_recheck               11385
handgun                         20
long_gun                        19
other                         6985
multiple                         0
admin                           23
prepawn_handgun               1943
prepawn_long_gun              1945
prepawn_other                 7370
redemption_handgun            1940
redemption_long_gun           1941
redemption_other              7370
returned_handgun             10285
returned_long_gun            10340
returned_other               10670
rentals_handgun              11495
rentals_long_gun             11660
private_sale_handgun          9735
private_sale_long_gun         9735
private_sale_other            9735
return_to_seller_handgun     10010
return_to_seller_long_gun     9735
return_to_seller_other       10230
totals                           0
dtype: int64

>This dataset contains large amounts of missing data. By closer inspection, we see that we could replace these null values by zeros because the columns which have missing data are quantititave. For example, the abscence of a value in a cell could mean that no one from Arizona returned a handgun in June 2017.

In [65]:
sum(df_ncis.duplicated())

0

In [66]:
df_ncis.dtypes

month                         object
state                         object
permit                       float64
permit_recheck               float64
handgun                      float64
long_gun                     float64
other                        float64
multiple                       int64
admin                        float64
prepawn_handgun              float64
prepawn_long_gun             float64
prepawn_other                float64
redemption_handgun           float64
redemption_long_gun          float64
redemption_other             float64
returned_handgun             float64
returned_long_gun            float64
returned_other               float64
rentals_handgun              float64
rentals_long_gun             float64
private_sale_handgun         float64
private_sale_long_gun        float64
private_sale_other           float64
return_to_seller_handgun     float64
return_to_seller_long_gun    float64
return_to_seller_other       float64
totals                         int64
dtype: object

>Unlike the gun census data, all the numeric data is of the correct datatype!

> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

### Data Cleaning 
#### Census Data

In [67]:
#Reformat state names to all lowercase and replace spaces with underscores. 
df_census.rename(columns = lambda x: x.lower().replace(' ','_'), inplace=True)

#Create a list of state names, remove first 2 elements in the list. 
states = df_census.columns[2:]

In [68]:
#Fill missing values in 'fact_note' column with the string 'none'
df_census['fact_note'].fillna('none', inplace= True )

In [69]:
#Drop rows with missing values 
df_census.dropna(axis=0, inplace=True  )

In [70]:
#Drop duplicated rows
df_census.drop_duplicates(inplace=True, ignore_index=True )

In [71]:
#flip axis
df_census = df_census.transpose()

In [72]:
#Change the headers and add a new column containing the states. 
headers = df_census.iloc[0]
newcensus_df  = pd.DataFrame(df_census.values[2:], columns=headers)
newcensus_df['state'] = states

In [73]:
#Correctly reformat the new column names
newcensus_df.rename(columns = lambda x: x.lower().replace(' ','_').replace(',', '_'), inplace=True)

In [74]:
newcensus_df.head()

fact,population_estimates__july_1__2016___(v2016),population_estimates_base__april_1__2010___(v2016),population__percent_change_-_april_1__2010_(estimates_base)_to_july_1__2016___(v2016),population__census__april_1__2010,persons_under_5_years__percent__july_1__2016___(v2016),persons_under_5_years__percent__april_1__2010,persons_under_18_years__percent__july_1__2016___(v2016),persons_under_18_years__percent__april_1__2010,persons_65_years_and_over__percent___july_1__2016___(v2016),persons_65_years_and_over__percent__april_1__2010,...,men-owned_firms__2012,women-owned_firms__2012,minority-owned_firms__2012,nonminority-owned_firms__2012,veteran-owned_firms__2012,nonveteran-owned_firms__2012,population_per_square_mile__2010,land_area_in_square_miles__2010,fips_code,state
0,"4,863,300","4,780,131",1.70%,"4,779,736",6.00%,6.40%,22.60%,23.70%,16.10%,13.80%,...,"203,604","137,630","92,219","272,651","41,943","316,984",94.4,"50,645.33","""01""",alabama
1,"741,894","710,249",4.50%,"710,231",7.30%,7.60%,25.20%,26.40%,10.40%,7.70%,...,"35,402","22,141","13,688","51,147","7,953","56,091",1.2,"570,640.95","""02""",alaska
2,"6,931,071","6,392,301",8.40%,"6,392,017",6.30%,7.10%,23.50%,25.50%,16.90%,13.80%,...,"245,243","182,425","135,313","344,981","46,780","427,582",56.3,"113,594.08","""04""",arizona
3,"2,988,248","2,916,025",2.50%,"2,915,918",6.40%,6.80%,23.60%,24.40%,16.30%,14.40%,...,"123,158","75,962","35,982","189,029","25,915","192,988",56,"52,035.48","""05""",arkansas
4,"39,250,017","37,254,522",5.40%,"37,253,956",6.30%,6.80%,23.20%,25.00%,13.60%,11.40%,...,"1,852,580","1,320,085","1,619,857","1,819,107","252,377","3,176,341",239.1,"155,779.22","""06""",california

>Now this dataset is cleaner and easier to interpret in parallel with the gun data file. We still notice one major problem: the numeric values in the cells are badly organised: for example, there are letters to indicate missing values, percentage signs, dollar signs.. 
Fixing all these issues now would be a waste of time because answer our questions we will have to focus on the census data for a handful of states. We can re-clean this dataframe once we have selected the rows we want to work with.

#### Gun Data

In [75]:
#replace null values with zeros 
df_ncis.fillna(0, inplace=True)

>This is pretty much all we had to do for this dataframe.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1: Which states have had the highest growth in gun registrations?

In [76]:
#Create a new column 'year'
dates = [c.split('-') for c in df_ncis['month']]
years= [i[0] for i in dates]
df_ncis['year'] = years 
df_ncis.columns

Index(['month', 'state', 'permit', 'permit_recheck', 'handgun', 'long_gun',
       'other', 'multiple', 'admin', 'prepawn_handgun', 'prepawn_long_gun',
       'prepawn_other', 'redemption_handgun', 'redemption_long_gun',
       'redemption_other', 'returned_handgun', 'returned_long_gun',
       'returned_other', 'rentals_handgun', 'rentals_long_gun',
       'private_sale_handgun', 'private_sale_long_gun', 'private_sale_other',
       'return_to_seller_handgun', 'return_to_seller_long_gun',
       'return_to_seller_other', 'totals', 'year'],
      dtype='object')

In [77]:
#Group by state and year and get the average totals 
new_df = df_ncis[['state', 'year', 'totals']].groupby(['state', 'year'], as_index=False).mean()

> We are interested in the countries which have had the highest growth in gun registrations. We could just take the difference in totals:

$$ \Delta  = tot_{2017_i} - tot_{1998_i} $$ 

where $i$ represents the ith state. However, since we don't know shape of the curves for each state, we could compute the following value:

$$ \frac{\Delta}{\Delta t}  =\frac{tot_{2017_i} - tot_{1998_i}}{2017-1998} $$

Which will give us a fairly good approximation of the gradients.

In [78]:
new_df.head()

     state  year        totals
0  Alabama  1998  18284.000000
1  Alabama  1999  20563.000000
2  Alabama  2000  18492.583333
3  Alabama  2001  19182.250000
4  Alabama  2002  18417.333333

In [79]:
#We want to get extract the rows where year = 1998 and 2017 for each state
df_98 = new_df.query('year == "1998"')
df_17 = new_df.query('year == "2017"')

In [80]:
#Reset indexes to avoid mismatch error
df_98.reset_index(drop=True,inplace=True)
df_17.reset_index(drop=True,inplace=True)

In [81]:
new_df['diff_totals_quotient'] = (df_17['totals']-df_98['totals'])/19

In [83]:
new_df.head()

     state  year        totals  diff_totals_quotient
0  Alabama  1998  18284.000000           1007.058480
1  Alabama  1999  20563.000000            227.891813
2  Alabama  2000  18492.583333           1175.523392
3  Alabama  2001  19182.250000            373.157895
4  Alabama  2002  18417.333333           5052.780702

### Research Question 2: What census data is associated with high gun per capita?

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!